
body{
 background: rgb(0, 0, 0, 0.6);
 background-image:url('./components/Img/topography.svg');

}


.container{
  
  background-color: #1e2b38;
  font-family: Roboto;
  background-image:url('./components/Img/topography.svg');
  width: 75%;
}

/* Searchbar properties */
.SearchBar{
  background-color: #353535;
  caret-color: black;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px 5px;

  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;

  vertical-align: middle;
  width:  80%;
  text-align: center;
}

.eventOL{
  margin: 0;
  padding: 0;
}

.PostItems{
  text-align: start;

}

.postImg{
  background-image: url(./components/Img/stockImg.jpg);
  background-size: cover;
 

}

a:link, :visited {
  -webkit-text-stroke: 0.1px black;
  color: white;
  text-decoration: none;
}


@font-face {
  font-family: Roboto;
  src: url(./components/Font/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Lato;
  src: url(./components/Font/Lato/Lato-Light.ttf);
}


/* Title of event in items */
.event-title{
  font-size: 15px;
  font-family: Roboto;
}

/* Date of event in items */
.event-date{
  font-size: 12px;

}

.sliderEvent{
  padding: 0;
  margin: 0;
  margin-top: 5%;
  background-color: #00000093;
  display: flex;
  
  width: 100%;
  height: 85%;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.657);
  word-wrap: break-word;

  text-align: center;
}

.SliderTitle{

  size: 55px;

}

/* Might make problems */
hr{
  width: 75%;
  
}

/* summary of event in items */

.event-summary{
  font-family: Lato;
  font-size: 12px;
  
}

/* This is properties for the items */
.event-item{
  background-color:  #222;
  color: white;

  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;

  border-radius: 15px;
  border: 4px solid rgb(0, 0, 0);

  /* //Why the fuck was this yellow btw? */
  box-shadow: 10px 5px rgba(0, 0, 0, 0.753);
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 130px;
}

/* properties for Img in items */
.postImg{
  filter: blur(1.5px);
  float: right;
  width: 80px;
  height: 100%;
  
  border:none;
  background-size:cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.event-info{
    margin-top: '40px';
    height:'160px';
    width: '100%';
    background-color:'#282c34';
    color:'white'
}

.dropdown {
  width: 400px;
  font-family: Roboto;
  src: url(./components/Font/Roboto/Roboto-Black.ttf);
  margin: 100px auto;
}
.dropdown .dropdown-btn{
  padding: 15px 20px;
  background: gray;
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkList{
  margin-top: 5px;
  padding-top: 1px;
  
  padding-bottom: 1px;
  background-color: #000000c9;
}

